:root {
    /*light theme color palette*/
    --main-background-day: rgb(221, 237, 233);
    --h1-text-day: rgb(50, 83, 84);
    --footer-text-day: rgb(50, 83, 84);
    --result-interface-day: rgb(95, 158, 160);
    --result-day: rgb(91, 150, 152);
    --core-container-day: rgb(240, 248, 255);
    --primary-digits-day: rgb(50, 83, 84);
    --main-digits-day: rgb(95, 158, 160);
    /*---------------------------------------------------------*/
    /*dark theme color palette*/
    --main-background-dark: rgb(22, 36, 37);
    --h1-text-dark: rgb(221, 237, 233);
    --footer-text-dark: rgb(221, 237, 233);
    --result-interface-dark: rgb(50, 83, 84);
    --result-dark: rgb(35, 59, 60);
    --core-container-dark: rgb(221, 237, 233);
    --primary-digits-dark: rgb(22, 36, 37);
    --main-digits-dark: rgb(50, 83, 84);
    /*---------------------------------------------------------*/
    /*fixed elements colors*/
    --result-text: rgb(245, 255, 250);
    --digits-text: rgb(245, 255, 250);
    --sign: rgb(245, 255, 250);
    --equal-button: rgb(255, 99, 71);
    --scrollbar-ball: rgb(127, 255, 212);
    --active-main-digits: rgba(95, 158, 160, 0.8);
    --active-primary-digits: rgba(50, 83, 84, 0.8);
    --active-equal: rgba(255, 99, 71, 0.8);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    background-color: var(--main-background-day);
    font-family: 'Rubik', sans-serif;
}

main {
    width: 380px;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
}

h1 {
    margin: 10px;
    color: var(--h1-text-day);
    text-shadow: black 0px 3px 2px;
}

#result-interface {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 35px;
    font-size: 18px;
    border-radius: 15px 15px 0 0;
    grid-column: span 1;
    background-color: var(--result-interface-day);
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

#result-interface p {
    outline: none;
    border: 0px;
    font-size: 25px;
    width: 265px;
    overflow: auto;
    padding: 10px 15px;
    color: var(--result-text);
    caret-color: var(--result-text);
    background-color: var(--result-day);
}

#result-interface p::-webkit-scrollbar {
    border: 3px solid var(--core-container-day);
    background-color: var(--core-container-day);
    height: 5px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#result-interface p::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-ball);
}

#result-interface #current-sign {
    position: absolute;
    right: 20px;
    font-size: 20px;
    color: var(--result-text);
}

#core-container {
    display: grid;
    grid-column: span 1;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background-color: var(--core-container-day);
    padding: 30px 15px;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

#core-container div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#core-container div button {
    cursor: pointer;
    outline: none;
    border: 0px;
    width: 62px;
    font-size: 20px;
    background-color: var(--main-digits-day);
    padding: 17px 0;
    border-radius: 20%;
    color: var(--digits-text);
    box-shadow: black 0px 3px 3px;
    font-family: 'Rubik', sans-serif;
}

#core-container div button:active {
    background-color: var(--active-main-digits);
    animation: pressingEffect 0.2s linear;
    -webkit-animation: pressingEffect 0.2s linear;
}

#core-container #C, #core-container #delete, #core-container #equal {
    border-radius: 10px;
    background-color: var(--primary-digits-day);
}

#core-container #C:active, #core-container #delete:active {
    background-color: var(--active-primary-digits);
}

#core-container #equal {
    width: 141px;
    background-color: var(--equal-button);
}

#core-container #equal:active {
    background-color: var(--active-equal);
}

footer {
    padding: 15px 0;
    font-size: 18px;
    color: var(--footer-text-day);
}

@keyframes pressingEffect {
    from {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--main-background-dark);
    }

    h1 {
        color: var(--h1-text-dark);
    }

    #result-interface {
        background-color: var(--result-interface-dark);
    }

    #result-interface p {
        background-color: var(--result-dark);
    }

    #core-container {
        background-color: var(--core-container-dark);
    }

    #core-container div button {
        background-color: var(--main-digits-dark);
    }

    #core-container #C, #core-container #delete {
        background-color: var(--primary-digits-dark);
    }

    #core-container #equal {
        background-color: var(--equal-button);
    }

    footer {
        color: var(--footer-text-dark);
    }
}